{% extends "InterventionBundle:Intervention:erreurSuccesDemande.html.twig" %}

{% block title %}

    Annulation

{% endblock %}

{% block body %}

    <p> La demande d'intervention {variable} a bien été annulée.</p>

{% endblock %}
