parameters:
    database_host: {{database_host}}
    database_port: {{database_port}}
    database_name: {{database_name}}
    database_user: {{database_user}}
    database_password: {{database_password}}
    mailer_transport: {{mailer_transport}}
    mailer_host: {{mailer_host}}
    mailer_user: {{mailer_user}}
    mailer_password: {{mailer_password}}
    mailer_port: {{mailer_port}}
    mailer_encryption: {{mailer_encryption}}
    mailer_auth_mode: {{mailer_auth_mode}}
    second_mailer_host: {{second_mailer_host}}
    second_mailer_user: {{second_mailer_user}}
    second_mailer_password: {{second_mailer_password}}
    second_mailer_port: {{second_mailer_port}}
    second_mailer_encryption: {{second_mailer_encryption}}
    second_mailer_auth_mode: {{second_mailer_auth_mode}}
    second_mailer_transport: {{second_mailer_transport}}
    locale: {{locale}}
    secret: {{secret}}
