parameters:
    database_host: {{database_host}}
    database_port: {{database_port}}
    database_name: {{database_name}}
    database_user: {{database_user}}
    database_password: {{database_password}}
    mailer_transport: {{mailer_transport}}
    mailer_host: {{mailer_host}}
    mailer_user: {{mailer_user}}
    mailer_password: {{mailer_password}}
    mailer_port: {{mailer_port}}
    mailer_encryption: {{mailer_encryption}}
    mailer_auth_mode: {{mailer_auth_mode}}
    mailer_plaideurs_transport: {{mailer_plaideurs_transport}}
    mailer_plaideurs_host: {{mailer_plaideurs_host}}
    mailer_plaideurs_encryption: {{mailer_plaideurs_encryption}}
    mailer_plaideurs_port: {{mailer_plaideurs_port}}
    mailer_maternelle_user: {{mailer_maternelle_user}}
    mailer_maternelle_password: {{mailer_maternelle_password}}
    mailer_elementaire_user: {{mailer_elementaire_user}}
    mailer_elementaire_password: {{mailer_elementaire_password}}
    mailer_college_user: {{mailer_college_user}}
    mailer_college_password: {{mailer_college_password}}
    mailer_lycee_user: {{mailer_lycee_user}}
    mailer_lycee_password: {{mailer_lycee_password}}
    mailer_superieur_user: {{mailer_superieur_user}}
    mailer_superieur_password: {{mailer_superieur_password}}
    locale: {{locale}}
    secret: {{secret}}
