*.autosave
*.pdf
*~
*.log
*.aux
*.gz
*.cb
*.cb2
*.lof
*.lot
*.out
*.toc
*.dvi
.idea
.idea/*
./developpement/implementation/scriptsBD/sql/DB_ajouter_etablissements.sql
./developpement/implementation/scriptsBD/sql/DB_ajouter_adresse.sql
