<h2>Changer Mot de Passe</h2>
<hr>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-success" value="{{ 'Changer mot de passe'|trans }}" style="margin-left: calc(50% - 60px)"/>
</div>
<style>
    h2 {
        font-family: 'Ubuntu Condensed', sans-serif;
        margin-top: 30px;
    }
    .container{
        max-width: 600px !important;
        margin: auto !important;
        margin-top: 40px !important;
        padding-right: 0px !important;
    }
    .col-sm-2{
        width: 40% !important;
    }
    .col-sm-10{
        width: 60% !important;
    }

    input[type="text"], input[type="password"]{
        width: 100%;
    }

    @media (max-width: 610px){

        .col-sm-2{
            width: 90% !important;
        }
        .col-sm-10{
            width: 90% !important;
        }
    }
</style>
{{ form_end(form) }}
