{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layoutSansNavbar.html.twig" %}

{% block title %}

    Login - {{ parent() }}

{% endblock %}

{% block body %}

    <h2>Bienvenue!</h2>

    {{ render(controller("UserBundle:Security:login")) }}

{% endblock %}
