{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{#{% extends "FOS\UserBundle:Security:login.html.twig" %}#}

{#{% block fos_user_content %}#}

    {#{{ parent() }}#}

{#{%  endblock %}#}


{% extends "UserBundle::formTheme.html.twig" %}


{% block body %}
        <style>
            @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';

            body{
                text-align: center;
            }

            div.container > div.container{
                border: 2px solid #333333;
                position: relative;
                margin-top: 20vh !important;
                border-radius: 20px;
            }
            .container{
                max-width: 450px;
                margin-left: auto !important;
            }

            div + .row{
                margin-left: 0px !important;
            }

            input[type="password"], input[type="text"]{
                max-width: 300px !important;
                margin-left: 45px;
                border-top: #ffffff;
                border-right: #ffffff;
                border-left: #ffffff;
                border-bottom: 2.5px solid #333333;
                margin-top: 10px;
                box-shadow: none !important;
            }
            input:focus, .form-control:focus{
                outline: none !important;
                box-shadow: none;
                border-bottom: 3px solid #1a6ecc;
                transition: border-bottom 0.5s ease 0s;
            }

            h2{
                font-family: 'Ubuntu Condensed', sans-serif;
                text-align: center;
                font-size: 45px !important;
                margin-top: 70px;
                margin-bottom: 50px;
            }

            form button{
                border-radius: 10px !important;
                margin-left: -70px !important;
                background-color: #1a6ecc !important;
                border:none !important;
            }

            input[type="checkbox"]{
                margin-left: -30px !important;
            }

            .checkbox label{
                font-family: 'Ubuntu Condensed', sans-serif;
                font-size: 16px;
                padding-left: 0px;
            }
            .control-label{
                width: 250px !important;
                font-family: 'Ubuntu Condensed', sans-serif;
                font-size: 18px;
                text-align: left !important;
            }

            div > img{
                border: #00A5E3;
            }

            .logologin{
                width: 180px;
                position: absolute;
                top: -70px;
                left: 27%;
            }

            .col-sm-10{
                position: static !important;
            }

            @media(max-width: 470px){
                input[type="password"], input[type="text"]{
                    margin-left:0px;
                }
                .logologin{
                    width: 180px;
                    position: absolute;
                    top: -70px;
                    left: 20%;
                }
            }
        </style>

    {% if error %}
        <div class="alert alert-dimissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Erreur !</h4>
            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    <img src="{{ asset('img/unicef.jpeg') }}" alt="logo" class="logologin">


        {{ form(form) }}



{% endblock %}
