{# version 1.06, date 29/04/2016, auteur Mathieu Médici #}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 0px" href="{{ path('architecture_homepage') }}">
                {% block brand %}Brand{% endblock %}
            </a>
        </div>
        <div style="height: 1px;" aria-expanded="false" class="navbar-collapse collapse" id="bs-navbar-collapse-1">
            {% block navbarButtons %}
                <li><a href="#">link</a></li>
            {% endblock %}
        </div>
    </div>
</nav>
{% endblock %}
