{# version 1.00, date 21/09/2016, auteur François Decq #}
<!DOCTYPE html>
<html>
    <body>
        <h1>
            <b>Veuillez activer Javascript pour accéder à ce site !</b>
        </h1>
    </body>
</html>