{# version 1.00, date 13/09/2016, auteur Florian Leriche #}
{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}

    Inscription effectuée - {{ parent() }}

{% endblock %}

{% block body %}
    <h1>Inscription effectuée</h1>
{% endblock %}