{# version 1.00, date 12/09/2016, auteur Florian Leriche #}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}

    Inscription confirmée - {{ parent() }}

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        .alert-success{
            margin-botton: 10px !important;
            margin-top: 50px !important;
        }
    </style>
    <p style="margin-top:20px;">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p style="margin-top:20px;"><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
