{# version 1.01, date 13/05/2016, auteur Matthieu Martins-Baltar
   Modifié 15/09/2016, auteur François Decq#}
{% extends "UserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var onResponsabiliteChecked = function (responsabilite, activite) {
            if ($(responsabilite).is(':checked')) {
                $(activite).prop("disabled", true);
                $(activite).prop("checked", true);
            } else {
                $(activite).prop("checked", false);
                $(activite).prop("disabled", false);
            }
        };

        for(i=0; i<4; i++){
            onResponsabiliteChecked("#fos_user_registration_form_responsabiliteActivite_" + i, "#fos_user_registration_form_activitesPotentielles_" + i);
        }

        $(document).ready(function() {
            for(i=0; i<4; i++){
                responsabiliteChecked("#fos_user_registration_form_responsabiliteActivite_" + i, "#fos_user_registration_form_activitesPotentielles_" + i);
            }
        });

        function responsabiliteChecked(responsabilite, activite) {
            $(responsabilite).change(function () {
                onResponsabiliteChecked($(this), activite);
            });
        }
    </script>
{% endblock %}

{% block fos_user_content %}
    <h1>Ajout d'un bénévole</h1><hr>
    {% include "UserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
