
{{ form_start(form, {'method': 'post', 'action': path('user_admin_register'), 'attr': {'class': 'user_admin_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="S'inscrire" />
</div>
{{ form_end(form) }}
