{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_admin_register'), 'attr': {'class': 'fos_user_admin_register'}}) }}
<div class="well">
    <div class="row">
        {{ form_widget(form,{'attr':{'class':'col-sm-9'}}) }}
    </div>
    
    <div>
        <input class="btn btn-primary" type="submit" value="Inscrire" />
    </div>
</div>
{{ form_end(form) }}