<p><em>Madame, Monsieur,</em></p>

<p>Votre demande a bien été prise en compte, nos bénévoles vous tiendrons informés de la suite des évenements.</p>


<p>Nous restons à votre disposition pour toute information supplémentaire.</p>
<p>L’équipe des plaideurs – UNICEF / Seine-Maritime</p>

UNICEF / Seine-Maritime
26 rue Saint Nicolas
76000 ROUEN
Téléphone : 02 35 88 98 88
