<p><em>Madame, Monsieur,</em></p>

<p>Depuis de nombreuses années, l'UNICEF organise des interventions gratuites dans les établissements d'enseignement pour
    sensibiliser les jeunes à des problématiques aujourd'hui toujours plus importantes dans
    notre monde en perpétuelles mutations.</p>

<p>Ces interventions durent en général une heure et portent sur les sujets suivant à votre convenance :</p>
<ul>
    <li>Droits - CIDE</li>
    <li>Droits - Education</li>
    <li>Droits - Enfants soldats</li>
    <li>Droits - Travail des enfants</li>
    <li>Droits - Harcèlement-Violence</li>
    <li>Droits - Discriminations</li>
    <li>Institution - Millénaire pour le Dev</li>
    <li>Institution - Rôle de l Unicef</li>
    <li>Santé</li>
    <li>Santé - Alimentation</li>
    <li>Santé - Eau</li>
    <li>Santé - VIH-Sida</li>
    <li>Urgences</li>
</ul>

<p>Vous pouvez nous faire part de vos besoins soit en utilisant le formulaire accessible via ce <a href="{{ url('intervention_request') }}?id={{ id }}">lien</a> :</p>

<p>soit par un mail à l'adresse en en-tête ou via le lien suivant :</p>
mailto:lycee-plaideurs.unicef76@laposte.net?subject=Demande%20Intervention%20UNICEF

<p>Nous restons à votre disposition pour toute information supplémentaire.</p>
<p>L’équipe des plaideurs – UNICEF / Seine-Maritime</p>

UNICEF / Seine-Maritime
26 rue Saint Nicolas
76000 ROUEN
Téléphone : 02 35 88 98 88
