{% extends "ArchitectureBundle:Debug:layout.html.twig" %}

{% block title %}

    Formulaire - {{ parent() }}

{% endblock %}

{% block body %}

    <h2>FORMULAIRE POUR DÉBUG</h2>

    {{ form(form) }}

{% endblock %}
