{# version 1.00, date 08/09/2016, auteur Julie Pain #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Consulter un établissement - {{ parent() }}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <section class="jumbotron col-sm-11">
            <div>
                <div class="row">
                    <h2 class="col-lg-offset-1 col-lg-9">Etablissement - <i>Enseignement/CentreLoisirs/Autre
                            établissement</i></h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <div class="col-sm-6 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-user"></span> Nom :
                                </dt>
                            </div>

                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <i>Lycée Corneille</i>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-earphone"></span> Téléphone :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <i>0000000000</i>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  E-mails :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <i>email1@gmail.com</i>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <dt>

                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <i>email2@gmail.com</i>
                            </div>


                            <div class="col-sm-6 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-home"></span> Adresse :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <i> adresse <br/>
                                    complément <br/>
                                    code postal <br/>
                                    ville
                                </i>
                            </div>

                            {{ block('contenu') }}
                        </dl>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="row-fuild">
                            <iframe class="container span12"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                    src="http://www.openstreetmap.org/export/embed.html?bbox=8.5628,50.0781,8.8217,50.1877&amp;layer=mapnik"
                                    style="
                                        border: 1px solid black;
                                        height: 350px ;
                                        padding: 0px;
                                        "></iframe>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
    <!--<div class="row">
        <div class="col-sm-12 text-left-sm">
            <small></small>
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-6">
            <!-- Si { interventions demadées !=null } -->
            <h3>Interventions demandées : </h3>
            <div class="row">
                <div class="scrollspy-example col-lg-offset-1 col-sm-7" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                    height: 200px;
                    overflow: auto;
                    position: relative;
                    border:1px solid #cccccc;
                    padding:10px;">
                    <i>Liste des interventions</i>
                </div>
            </div>
            <h3>Interventions réalisées : </h3>
            <div class="row">
                <div class="scrollspy-example col-lg-offset-1 col-sm-7" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                    height: 200px;
                    overflow: auto;
                    position: relative;
                    border:1px solid #cccccc;
                    padding:10px;">
                    <i>Liste des interventions</i>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Contacts : </h3>
            <div class="row">
                <div class="well col-lg-offset-1 col-sm-9">
                    <dl class="dl-horizontal">
                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Nom :
                            </dt>
                        </div>

                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Dupont</i>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Prénom :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Jean</i>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Tel fixe :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>0000000000</i>
                        </div>


                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Tel portable :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>0000000000</i>
                        </div>


                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Responsabilité :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Frimousse</i>
                        </div>
                    </dl>
                </div>
                <div class="well col-lg-offset-1 col-sm-9 col-sm-offset-0">
                    <dl class="dl-horizontal">
                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Nom :
                            </dt>
                        </div>

                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Dupont2</i>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Prénom :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Jean2</i>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Tel fixe :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>0000000000</i>
                        </div>


                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Tel portable :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>0000000000</i>
                        </div>


                        <div class="col-sm-6 col-xs-12">
                            <dt>
                                Responsabilité :
                            </dt>
                        </div>
                        <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                            <i>Plaidoyer</i>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block contenu %}

{% endblock %}
