{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Liste des établissements - {{ parent() }}

{% endblock %}

{% block body %}
    <h2>Liste des établissements :</h2>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Voir détails</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Supprimer</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}
