{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Liste des bénévoles - {{ parent() }}

{% endblock %}

{% block body %}
    <ul>

        {% for benevole in listBenevoles %}

            <li><a href="{{ path('user_admin_profil_benevole', {'username': benevole.username}) }}">{{ benevole.username }}</a></li>

        {% endfor %}

    </ul>
{% endblock %}
