{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Liste des bénévoles - {{ parent() }}

{% endblock %}

{% block body %}
    <h1>Liste des Bénévoles</h1>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Responsabilité</th>
        <th>Consulter</th>
        <th>Supprimer</th>
    </tr>
    {% for benevole in listBenevoles|sort %}
    <tr>
        <td>{{ benevole.nom }}</td><td>{{ benevole.prenom }}</td> <td>{{ benevole.responsabiliteActivite }}</td><td><button type="button" class="btn btn-primary">Consulter le profil</button></td><td><button type="button" class="btn btn-danger">Supprimer</button></td>
    </tr>
    {% endfor %}
    </thead>
</table>
{% endblock %}
