<p><em>Madame, Monsieur,</em></p>

<p>Depuis de nombreuses années, l'UNICEF organise des interventions gratuites dans les établissements d'enseignement pour
    sensibiliser les jeunes à des problématiques aujourd'hui toujours plus importantes dans
    notre monde en perpétuelles mutations.</p>

<p>Ces interventions durent en général une heure et portent sur les sujets suivant à votre convenance :</p>
<ul>
    <li>La Convention Internationale des Droits de l'Enfant</li>
    <li>L'éducation</li>
    <li>Le role de l'unicef</li>
    <li>La santé</li>
    <li>L'eau</li>
    <li>Les enfants soldats</li>
    <li>Le millénaire pour le développement</li>
    <li>Le VIH/SIDA</li>
    <li>Les urgences mondiales</li>
    <li>La discrimination</li>
    <li>Le harcèlement</li>
    <li>Le travail des enfants</li>
</ul>

<p>Vous pouvez nous faire part de vos besoins soit en utilisant le formulaire accessible via ce <a href="{{ url('intervention_request', {id: id}) }}">lien</a> :</p>

<p>soit par un mail à l'adresse en en-tête ou via ce <a href="mailto:college-plaideurs.unicef76@laposte.net?subject=Demande%20Intervention%20UNICEF">lien</a></p>

<p>Nous restons à votre disposition pour toute information supplémentaire.</p>
<p>L’équipe des plaideurs – UNICEF / Seine-Maritime</p>

UNICEF / Seine-Maritime
26 rue Saint Nicolas
76000 ROUEN
Téléphone : 02 35 88 98 88
