@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';

h1{
    margin-left: 20px;
}
.jumbotron {
    border-radius: 20px !important;
    position: relative;
    padding-left: 60px !important;
    overflow: hidden;
    background-color: #d3d3d3;
}

#recherche_avancee_distance {
    width: 155px;
}

.jumbotron h4{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-top: 0px;
}

.imprimente{
    border-radius: 100px;
    float: right;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    padding: 3px 2px 2px 2px;
    box-shadow: -1px 2px 5px 1px rgba(173, 173, 173, 0.7);
    background-color: #2780e3;
    border: none;
    color: #fff;
}

@media (min-width: 1030px){
    .collapse {
        display: none !important;
    }
}

.subtitle{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.infoContainer h3{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.dangerTable{
    background-color: #ffccd7 !important;
}

.dangerTable:hover{
    background-color: #fcc0cd !important;
}

.warningTable{
    background-color: #ffe6c2 !important;
}

.warningTable:hover{
    background-color: #fbdeb4 !important;
}

.subtitle:after{
    content: ' ';
    width: 90%;
    height: 1px;
    background-color: #dbdbdb;
    display: block;
    margin-top: 15px;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top:10px !important;
}

.bonjour{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    margin-top: 25px;
}

.accueilSq{
    background-color: #EEEEEE;
    margin-left: 20px;
    min-height: 330px;
    padding: 10px 30px 20px 35px;
}

.droit{
    border-radius: 0px 20px 20px 0px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    flex: 1;
}

.gauche{
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    z-index: 0;
    flex: 1;
}

.table_outer{
    z-index: 1;
}

.logoDroit{
    width: 430px;
    opacity: 0.5;
    position: absolute;
    bottom: -200px;
    left: -230px;
    z-index: -1;
}

.logoGauche{
    width: 430px;
    opacity: 0.5;
    position: absolute;
    bottom: -200px;
    right: -230px;
    z-index: -1;
}

.accueilSq li{
    list-style-type: none;
}

.accueilSq ul{

    padding-left: 0px;
}

.jumbotron h2{
    margin-top: 0px;
    font-weight: 600;
}

.logoGris{
    position: absolute;
    top: 10px;
    right: 50px;
    width: 150px;
    display: block;
}

.container{
    padding-left: 5px !important;
    padding-right: 10px !important;
    margin-top: 20px !important;
}

hr{
    margin-top: 35px;
    margin-bottom: 35px;
}

iframe{
    margin-top: 20px !important;
}

.navbar-nav{
    float: none;
}


.table_outer{
    z-index:30 !important;
}

.panel{
    border: none;
    text-align: left;
}


.alert h4{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
}

.panel-body{
    background-color: #EEEEEE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
}

.legende1{
    display: inline-block;
    background-color: #2b2b2b;
    width: 15px;
    height: 10px;
    margin-right: 8px;
}

.legende2 {
    display: inline-block;
    background-color: #2c8011;
    width: 15px;
    height: 10px;
    margin-right: 8px;
}

.legende3{
    display: inline-block;
    background-color: #2780e3;
    width: 15px;
    height: 10px;
    margin-right: 8px;
}

.buttons{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.alert-warning{
    background-color: #ffb733 !important;
}

.alert-info{
    background-color: #4252ff !important;
}

.buttons .btn{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    font-size: 15px !important;
}

.btn{
    margin-top: 16px;
    font-family: 'Ubuntu Condensed', sans-serif !important;
    padding: 8px 15px;
}

.container{
    margin: auto;
    padding: 10px;
    width: 100% !important;
}

.titre{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-bottom: 0px;
}

.text-success{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px !important;
}

section{
    margin-top: 50px !important;
}

.fc{
    margin-top: 40px !important;
}

.containerOne{
    background-color: #0099ff;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    flex: 1;
    position: relative;
    border: 2px solid #ffffff;
}

.circleOne{
    background-color: #0099ff;
}

.circleTwo{
    background-color: #00326c;
}

.circleThree{
    background-color: #004c98;
}

.circleFour{
    background-color: #666666;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: -35px;
    left: 50%;
    border: 1px solid #FFFFFF;
    margin-left:-30px;
}

.circle img{
    width: 30px;
    height: 30px;
    margin-left: 14px;
    margin-top: 14px;
}

.containerTwo{
    background-color: #00326c;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    flex: 1;
    margin-top: 40px;
    padding-left: 20px;
    border: 2px solid #ffffff;
}

.containerThree {
    background-color: #004c98;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    flex: 1;
    margin-top: 40px;
    padding-left: 20px;
    border: 2px solid #ffffff;
    text-align: left !important;
}

.containerFour{
    background-color: #666666;
    border-radius: 10px;
    color: #FFFFFF;
    margin-right: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    flex: 1;
    margin-top: 40px;
    padding-left: 20px;
    border: 2px solid #ffffff;
}

.containerFour a {
    color: #FFFFFF;
}

.infoPrincip a{
    color: #2b2b2b;
    font-weight: 600;
}

dt{
    text-align: left !important;
    float: left;
}

.containerTwo li, .containerOne li, .containerThree li{
    background: transparent;
    border: none;
    padding-bottom: 0px;
}

.scrollspy-example{
    border: none !important;
}

.well{
    border: none;
    background-color: transparent;
    margin: auto;
    padding-left: 11px;
}

.infoContainer {
    padding: 0px;
    margin-top: 30px;
}

.circle + h3{
    font-weight: 500;
    margin-top: 30px;
}

.btn-primary, .btn-danger, .btn-success{
    border-radius: 10px !important;
    font-family: 'Ubuntu Condensed', sans-serif !important;
}

.logoAccueil{
    max-width: 140px !important;
}

.list-group-item{
    border: none !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #09f;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: #09f;
    color: #fff;
    font-weight: 500;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 768px) {
    .logoGris{
        display: none !important;
    }
    .jumbotron{
        padding-left: 30px !important;
    }
    .derniere_link, .premiere_link, .page_link, .prev_link, .next_link{
        font-size: 14px !important;
    }
}


@media (min-width: 768px){
    .infoContainer{
        display: flex;
    }

    .containerThree, .containerTwo{
        margin-top: 0px;
    }
    .containerFour {
        margin-top: 20px;
    }
    .container{
        margin:auto;
    }
}

@media (max-width: 1445px){
    .container{
        margin-left: 5px !important;
    }
}

@media(max-width: 1200px){
    .droit, .gauche{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .container{
        padding: 5px 10px 0px 0px!important;
    }
    .accueilSq{
        margin-left: 0px !important;
    }
}
@media (max-width: 1075px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}




