{% extends "ArchitectureBundle:Benevole:layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div >
                    <h2>Nom Prénom</h2>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <dt  class="col-sm-6 col-xs-12">
                                <span class="glyphicon glyphicon-envelope"></span>  Email :
                            </dt>
                            <div  class="col-sm-6">
                                BLABLA
                            </div>
                            <dt  class="col-sm-6 col-xs-12">
                                <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                            </dt>
                            <div  class="col-sm-6">
                                BLABLA
                            </div>
                            <dt  class="col-sm-6 col-xs-12">
                            <td><span class="glyphicon glyphicon-phone"></span>  Téléphone protable : </td>
                            </dt>
                            <div  class="col-sm-6">
                                BLABLA
                            </div>
                            <dt  class="col-sm-6 col-xs-12">
                                <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                            </dt>
                            <div  class="col-sm-6">
                                BLABLA
                            </div>
                        </dl>

                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <h3>Commité(s) de rattachement : </h3>
            <h3>Domaines d'activités : </h3>
            <h3>Projets en cours : </h3>
        </div>
    </div>

{% endblock %}
