{# version 1.00, date 14/09/2016, auteur Florian Leriche #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}
    <p>{{ benevole.email }}</p>
    <a href="{{ path("user_admin_delete", {'username': benevole.username}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier </span> </a>
    <a href="{{ path("user_admin_delete", {'username': benevole.username}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"> Supprimer </span> </a>
{% endblock %}