{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}

    Accueil - {{ parent() }}

{% endblock %}

{% block body %}

    <h2>Bonjour {{ user }} ! Tu es content d'être connecté hein ! Tu es content sale bâtard ?! </h2>

{% endblock %}
