{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}

    Accueil - {{ parent() }}

{% endblock %}

{% block body %}

    <h2>Bonjour {{ user.prenom }} ! </h2>

    <h1>Liste des interventions en cours</h1>
    <ul>
      <li>Aucune interventions</li>
    </ul>
    <h1>Votre planning</h1>
    <ul>
      <li>Planning vide</li>
    </ul>


{% endblock %}
