{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}
{% block title %}

    Demande Enregistrée - {{ parent() }}

{% endblock %}

{% block body %}
    <style>
        .alert-success{
            margin-top: 80px;
        }
        .close{
            display: none;
        }
    </style>
    <p></p>
{% endblock %}