{% extends "::base.html.twig" %}

{% block title %}
    Unicef
{% endblock %}

{% block brand %}
    Unicef
{% endblock %}

{% block body %}

    <h2>Hello world!</h2>


    <p>
        Bonjour le monde!
    </p>

{% endblock %}