{% extends "::base.html.twig" %}


{% block title %}
    Unicef
{% endblock %}


{% block brand %}

    <img src="{{ asset("img/unicef-logo.gif") }}" />
{% endblock %}


{% block body %}
    <h2>Hello world!</h2>
    <p>
        Bonjour le monde!
    </p>
{% endblock %}


{% block navbarButtons %}
    <ul class="nav navbar-nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('architecture_homepage') }}">Accueil<span class="sr-only">(page courante)</span></a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Établissements<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <form class="form-inline form-sm">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-sm" placeholder="Rechercher" type="text">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default btn-sm" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li><a href="#">Liste</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Interventions<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <form class="form-inline form-sm">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-sm" placeholder="Rechercher" type="text">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li><a href="#">Liste</a></li>
                    <li><a href="#">Mes interventions</a></li>
                    <li><a href="#">Mon planning</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Espace Admin</a>
            </li>
        {% endif %}
        {% include "ArchitectureBundle::boutonDeConnexion.html.twig" %}
        </li>
    </ul>
{% endblock %}
