{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Hello world!</h2>


    <p>
        Bonjour le monde!
    </p>

{% endblock %}