{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function () {
            drawChart(0);
            drawVisualization();
        });

        var ventes = {{ ventes|raw }};
        ventes.forEach(function (value, i) {
            $('#selectYears').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i + 1) + '/' + (new Date().getFullYear() - i)
            }));
        });

        $('#selectYears').change(function () {
            drawChart($('#selectYears').val());
        });

        // Callback pour créer le diagramme, l'instancier et le dessiner.
        function drawChart(index) {


            {#ventes = {{ ventes|raw }};#}
            // Création de la datatable pour populer le diagramme.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vente');
            data.addColumn('number', 'Nombre');
            data.addRows([
                ['Plaidoyer', parseInt(ventes[index]['plaidoyers'])],
                ['Frimousse', parseInt(ventes[index]['frimousses'])],
                ['Autre', parseInt(ventes[index]['autres'])]
            ]);

            // Options du diagramme.
            var currentDate = new Date();
            var options = {'title':"Nombre de vente(s) réalisée(s) durant l'année scolaire " + currentDate.getFullYear() + "/" + (currentDate.getFullYear() + 1),
                //'pieHole': 0.4,
                'width':600,
                'height':300,
                'is3D': true,
                'animation':{
                    duration: 2000,
                    easing: 'out',
                    startup: true
                }
            };

            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons).
            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente'));
            chart.draw(data, options);
        }

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var currentDate = new Date().getFullYear();
            var data = google.visualization.arrayToDataTable([
                ['Années scolaires', 'Ventes'],
                ['dummy', 0]
            ]);

            ventes.forEach(function (value, i) {
                data.addRow(['' + (currentDate - i + 1) + '/' + (currentDate - i), parseInt(value['ventes'])]);
                if(data.getFormattedValue(0,0) == 'dummy')
                    data.removeRow(0);
            });

            var options = {
                title : 'Vente(s) réalisée(s) par année scolaire',
                vAxis: {title: "Nombre de ventes"},
                hAxis: {title: 'Année scolaire'},
                seriesType: 'bars',
                series: {5: {type: 'line'}},
                'animation':{
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente_years'));
            chart.draw(data, options);
        }

    </script>
{% endblock %}

{% block body%}
    <h1>Statistiques sur les ventes</h1>
    <div id="chart_vente"></div>
    <select id="selectYears"></select>
    {#<h1>KAKIIIIIIIIII</h1>#}
    <div id="chart_vente_years" style="width: 900px; height: 500px;"></div>
{% endblock %}

{#https://developers.google.com/chart/interactive/docs/gallery#}