{# app/Resources/views/Exception/error.html.twig #}
{% extends 'ArchitectureBundle::layoutArchitecture.html.twig' %}

{% block body %}
    <h1>Erreur!</h1>
    <h3>
        Une erreur s'est produite, veuillez nous contacter pour nous expliquer comment cela est arrivé ou <a href="{{ path('architecture_homepage') }}">retourner à l'accueil</a>.
    </h3>


{% endblock %}
