{# app/Resources/views/Exception/error403.html.twig #}
{% extends 'ArchitectureBundle::layoutArchitecture.html.twig' %}

{% block body %}
    <h1>Permission refusée</h1>
    <h3>
        Vous n'avez pas la permission d'accéder à la page que vous cherchez. Veuillez vérifier avec votre administrateur ou <a href="{{ path('architecture_homepage') }}">retourner à l'acceuil</a>.
    </h3>

{% endblock %}
