{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "InterventionBundle:Intervention:consultation.html.twig" %}



{%  block contenu %}
    <div class="col-sm-4 col-xs-12">
        <dt>
            <span class="glyphicon glyphicon-eye-open"></span> Public :
        </dt>
    </div>
    <div class="col-sm-6 col-xs-offset-1 col-xs-11">
        <i>{{ dump(intervention.demande) }}</i>
    </div>
    <div class="col-sm-4 col-xs-12">
        <dt>
            <span class="glyphicon glyphicon-picture"></span> Thème :
        </dt>
    </div>
    <div class="col-sm-6 col-xs-offset-1 col-xs-11">
        <i>{{ intervention.niveauTheme.theme | capitalize }}</i>
    </div>
    <div class="col-sm-4 col-xs-12">
        <dt>
            <span class="glyphicon glyphicon-picture"></span> Matériel dispo. :
        </dt>
    </div>

    <div class="col-sm-6 col-xs-offset-1 col-xs-11">
            {% if intervention.materielDispoPlaidoyer is not empty %}
                <ul class="list-group col-sm-7 ">
                    {{ intervention.materielDispoPlaidoyer | capitalize }}
                </ul>
            {% else %}
                <div class="col-sm-7">
                    Aucun
                </div>
            {% endif %}

    </div>

{%  endblock %}

