{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "InterventionBundle:Intervention:consultation.html.twig" %}

{% block title %}

    Consultation plaidoyer - {{ parent() }}

{% endblock %}

{%  block contenu %}

    {% if intervention.niveauTheme %}
        <div class="col-sm-5 col-xs-12  col-md-4">
            <dl>
                <dt>
                    <span class="glyphicon glyphicon-book"></span> &nbsp Classe concernée:
                </dt>
            </dl>
        </div>
        <div class="col-sm-5 col-xs-offset-1 col-xs-11 col-md-7">
            <em> {{ intervention.niveauTheme.niveau | capitalize }} </em>
        </div>

        <div class="col-sm-5 col-xs-12  col-md-4">
	  <dl>
            <dt>
                <span class="glyphicon glyphicon-grain"></span> &nbsp Thème:
            </dt>
	  </dl>
        </div>
        <div class="col-sm-5 col-xs-offset-1 col-xs-11 col-md-7">
            <em> {{ intervention.niveauTheme.theme | capitalize }} </em>
        </div>
    {% endif %}

    <div class="col-sm-4 col-xs-12">
        <dl>
            <dt>
                <span class="glyphicon glyphicon-picture"></span> Matériel disp:
            </dt>
        </dl>
    </div>

    <div class="col-sm-6 col-xs-offset-1 col-xs-11">
            {% set materiels = intervention.materielDispoPlaidoyer | replace({'\\\")\",(': '),('}) | replace({'\"(\\\"': ''}) | split('),(')   %}
            {% if materiels is not empty %}
                <ul class="list-group col-sm-7 ">
                    {% for materiel in materiels %}
                        {{ materiel | trim ('{(') | trim (')}') | capitalize }}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="col-sm-7">
                    Aucun
                </div>
            {% endif %}

    </div>

{%  endblock %}

