{% extends "ArchitectureBundle:Benevole:layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <section class="col-sm-12">
            <div class="jumbotron">
                <div class="col-sm-6 table-responsive">
                    <table class="table table-hover">
                        <caption>
                            <h1>Nom Prénom</h1>
                        </caption>
                        <tbody>
                        <tr>
                            <td> <span class="glyphicon glyphicon-envelope"></span> Email :</td>
                            <td> BLABLA</td>
                        </tr>
                        <tr>
                            <td>  <span class="glyphicon glyphicon-phone-alt"></span> Téléphone fixe :</td>
                            <td> BLABLA</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-phone"></span> Téléphone protable : </td>
                            <td> BLABLA</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-home"></span> Adresse :</td>
                            <td> BLABLA</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
   <div class="row">
       <h3>Commité(s) de rattachement : </h3>
       <h3>Domaines d'activités : </h3>
       <h3>Projets en cours : </h3>
    </div>
</div>

{% endblock %}
